{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="signin">
    <canvas class="allauth background"></canvas>
    <div class="all-auth">
        <div class="container reg">
            <div class="row">
                <div class="col-12 mt-3 reg-content">
                    <h2 class="mb-3">{% trans "Sign In" %}</h2>
                    <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-sm" aria-label="login with your Google account"><i class='fa fa-google fa-fw' ></i> Login with Google</a>
                    <a href="{% url 'microsoft_login' %}" class="btn btn-primary btn-sm" aria-label="login with your Microsoft account"><i class='fa fa-windows fa-fw' ></i> Sign up with Microsoft</a>                    
                    <hr>
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2">
                            <button class="btn global-action-btn rounded-pill" type="submit">{% trans "Sign In" %}</button>
                        </div>
                        <div class="my-3">
                            <span>{% blocktrans %}Do not have an Account? <a class="text-empower"
                                    href="{{ signup_url }}">Create Account</a>{% endblocktrans %}</span>
                        </div>
                    </form>
                    <a href="{% url 'account_reset_password' %}">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}